$grey-one:#6b717f;
$white: #fff;
$grey-two: #8C8C8C;
$pink: #BF4080;
$green: green;
$orange: orange;
$red: red;
$black:black;
$padding: 15px;
@mixin box-shadow {
        -webkit-box-shadow: 10px 10px 15px -4px #6b717f;
        -moz-box-shadow: 10px 10px 15px -4px #6b717f;
        box-shadow: 10px 10px 15px -4px #6b717f;   
}
